[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
pytest = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
